@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Luciole";
  font-weight: normal;
  src: url("@site/static/fonts/Luciole/Luciole-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Luciole";
  font-weight: bold;
  src: url("@site/static/fonts/Luciole/Luciole-Bold.ttf") format("truetype");
}

:root {
  --ifm-heading-font-family: "Luciole", sans-serif;
  --ifm-breadcrumb-color-active: #8b5cf6;
  --ifm-menu-color-active: #8b5cf6;
  --ifm-link-hover-color: #8b5cf6;
  --ifm-color-primary: #8b5cf6;
}

::selection {
  @apply bg-violet-400 text-black;
}

.button {
  @apply font-normal bg-violet-200 rounded-md text-violet-800 px-4 py-2 text-lg hover:no-underline hover:bg-violet-50 transition-colors hover:text-violet-950;
}

.footer__link-item,
.navbar__brand,
.navbar__item {
  @apply inline-flex gap-1 items-center text-white/80 transition-colors;
}

.footer__link-item:hover,
.navbar__brand:hover,
.navbar__item:hover {
  @apply text-white no-underline;
}

.theme-edit-this-page {
  @apply inline-flex gap-1 items-center hover:no-underline;
}

.breadcrumbs {
  @apply text-sm text-gray-500 flex flex-wrap gap-2 items-center;
}

.breadcrumbs__item {
  @apply flex items-center gap-1;
}

.markdown h1 {
  @apply text-4xl font-bold;
}

.markdown h2 {
  @apply text-2xl font-bold;
}

.markdown h3 {
  @apply text-xl;
}

.markdown ol,
.markdown ul {
  @apply ml-4;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ol li,
.markdown ul li {
  @apply ml-4;
}

.markdown p + p,
.markdown ul + *,
.markdown ol + * {
  @apply mt-4;
}
