@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Luciole";
  font-weight: normal;
  src: url("@site/static/fonts/Luciole/Luciole-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Luciole";
  font-weight: bold;
  src: url("@site/static/fonts/Luciole/Luciole-Bold.ttf") format("truetype");
}

:root {
  --ifm-heading-font-family: "Luciole", sans-serif;
  --ifm-color-primary: #6d28d9;
  --ifm-color-primary-dark: #6223c5;
  --ifm-color-primary-darker: #5c21ba;
  --ifm-color-primary-darkest: #4c1b99;
  --ifm-color-primary-light: #7c3edd;
  --ifm-color-primary-lighter: #8349df;
  --ifm-color-primary-lightest: #996ae5;

  --admonition-example-background: #f3e8ff;
  --admonition-example-foreground: #23043b;

  --admonition-quote-background: #e5e7eb;
  --admonition-quote-foreground: #111827;
}

:root[data-theme="dark"] {
  --ifm-color-primary: #a78bfa;
  --ifm-color-primary-dark: #8b66f8;
  --ifm-color-primary-darker: #7d53f8;
  --ifm-color-primary-darkest: #dacefd;
  --ifm-color-primary-light: #c3b0fc;
  --ifm-color-primary-lighter: #d1c3fc;
  --ifm-color-primary-lightest: #fcfbff;

  --admonition-example-background: #290544;
  --admonition-example-foreground: #faf5ff;

  --admonition-quote-background: #21242b;
  --admonition-quote-foreground: #e5e7eb;
}

::selection {
  @apply bg-violet-400 text-black;
}

.button {
  @apply font-normal bg-violet-200 rounded-md text-violet-800 px-4 py-2 text-lg hover:no-underline hover:bg-violet-50 transition-colors hover:text-violet-950;
}

.footer__link-item,
.navbar__brand,
.navbar__item {
  @apply inline-flex gap-1 items-center text-white/80 transition-colors;
}

.footer__link-item:hover,
.navbar__brand:hover,
.navbar__item:hover {
  @apply text-white no-underline;
}

.theme-edit-this-page {
  @apply inline-flex gap-1 items-center hover:no-underline;
}

.breadcrumbs {
  @apply text-sm text-gray-500 flex flex-wrap gap-2 items-center;
}

.breadcrumbs__item {
  @apply flex items-center gap-1;
}

.markdown h1 {
  @apply text-4xl font-bold;
}

.markdown h2 {
  @apply text-2xl font-bold;
}

.markdown h3 {
  @apply text-xl font-bold;
}

.markdown h4 {
  @apply font-bold;
}

.markdown p {
  @apply leading-7;
}

.markdown ul.tabs {
  @apply ml-0;
}

.markdown ol,
.markdown ul {
  @apply ml-4;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ol li,
.markdown ul li {
  @apply ml-4;
}

.markdown blockquote + p,
.admonition + *,
.markdown p + *,
.markdown ul + *,
.markdown ol + *,
.markdown * + .tabs-container,
.markdown * + .theme-code-block {
  @apply mt-4;
}

.markdown hr {
  @apply h-px;
}

.theme-admonition > div:first-child,
.admonition-heading {
  @apply flex items-center gap-1 mb-4;
}

.alert--quote {
  --ifm-alert-background-color: var(--admonition-quote-background);
  --ifm-alert-foreground-color: var(--admonition-quote-foreground);
  --ifm-alert-border-color: #4b5563;
}

.alert--example {
  --ifm-alert-background-color: var(--admonition-example-background);
  --ifm-alert-foreground-color: var(--admonition-example-foreground);
  --ifm-alert-border-color: #9333ea;
}
