.md-typeset .admonition.heart,
.md-typeset details.heart {
  border-color: #7e56c2;
}
.md-typeset .heart > .admonition-title,
.md-typeset .heart > summary {
  background-color: #7e56c220;
}
.md-typeset .heart > .admonition-title::before,
.md-typeset .heart > summary::before {
  background-color: #7e56c2;
  -webkit-mask-image: var(--md-admonition-icon--heart);
  mask-image: var(--md-admonition-icon--heart);
}
