.md-typeset .admonition.heart,
.md-typeset details.heart {
  border-color: #7e56c2;
}
.md-typeset .heart > .admonition-title,
.md-typeset .heart > summary {
  background-color: #7e56c220;
}
.md-typeset .heart > .admonition-title::before,
.md-typeset .heart > summary::before {
  background-color: #7e56c2;
  -webkit-mask-image: var(--md-admonition-icon--heart);
  mask-image: var(--md-admonition-icon--heart);
}

.giphy-embed {
  display: block;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 0.2em;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
