@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.md-typeset .admonition.heart,
.md-typeset details.heart {
  border-color: #7e56c2;
}
.md-typeset .heart > .admonition-title,
.md-typeset .heart > summary {
  background-color: #7e56c220;
}
.md-typeset .heart > .admonition-title::before,
.md-typeset .heart > summary::before {
  background-color: #7e56c2;
  -webkit-mask-image: var(--md-admonition-icon--heart);
  mask-image: var(--md-admonition-icon--heart);
}

.giphy-embed {
  display: block;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 0.2em;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

code[class*="language-"] {
  display: block !important;
  overflow: visible !important;
}
code.language-javascript,
code.language-js,
code.language-jsx,
code.language-typescript,
code.language-tsx {
  font-family: "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono",
    monospace;
  font-variant-ligatures: common-ligatures;
}
pre[class*="language-"] {
  border-radius: 0.2em;
  padding: 0.5em !important;
  margin: 1em 0 !important;
}
.toolbar {
  right: 2.75em !important;
}
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em !important;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
  padding: 0 !important;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
